.biglogo {
	border: none;
}


div.iota-landing-bg{
	background-image: linear-gradient(to right, white 35%, #30799C 100%);;
}

div.iota-landing-container {
	max-width: 1400px;
	
}

img.iota-index-img {
  max-height: 240px;
  margin: auto;
  margin-bottom: 1em;
  width: auto;
}

 .card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.iota-card-title {
  font-weight: 700;
}

.iota-btn-primary {
  background-color: #30799C;
  border-color: #30799C;
  color: white;
}

.iota-btn-primary:hover,
.iota-btn-primary:active {
  background-color: #3499cd;
  border-color: #3499cd;
}

@media screen and (min-width: 1200px) {
  .iota-px-xl-4 {
    padding-left: 1.3rem!important;
    padding-right: 1.3rem!important;
  }
}
